html, body {
    background: #faf8ef;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}
.header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    color: #776E65; 
  }


.grid-container {
    justify-content: center;
    display: grid;
    margin-top: 5%;
    margin-left: 40%;
    height: 500px;
    width: 500px;
    .grid {
        background: #bbada0;
        display: grid;
        grid-gap: 1px;
        grid-template-columns: repeat(3, 1fr);
        width: inherit;
        .r {
            color: #4d463a;
            font-size: 16px;
            text-transform: uppercase;
            border: 0;
            padding: 10px 0;
        }
    }
}

.card {
    height: 100px;
    width: 100px;
    margin-left: 40%;
    border-radius: 1.5rem/2rem;
    box-shadow: 8px 10px 16px rgba(0,0,0,0.1);
    transform: translateZ(0);
    overflow: hidden;
    .card-header {
        position: absolute;
        top: 0;
        left: 0;
        height: 35px;
        width: 100%;
        background: lightblue;
        z-index: 3;
        transform: translateZ(0);
        text-align: center;
        font-weight: bold;
    }
    .turDisplay {
        margin-top: 50%;
        margin-left: 35%;
        font-size: xx-large;
    }
}

.status {
    color: #776E65;
    margin-left: 40%;
    .satus-header {
        background: lightblue;

    }
    .statusDisplay {
    color: red;
}